---
Language: Cpp

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
#AlignEscapedNewlines: Right
AlignAfterOpenBracket: Align
AlignTrailingComments: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All

BraceWrapping:
    AfterEnum: false
    AfterClass: false
    #AfterControlStatements: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    #AfterExternBlock: true
    BeforeCatch: false
    BeforeElse: false
    #SplitEmptyFunction: false
    #SplitEmptyRecord: false
    #SplitEmptyNamespace: true

BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
#BreakBeforeInheritanceComma: false
BreakConstructorInitializersBeforeComma: false
BreakStringLiterals: true
BreakBeforeBinaryOperators: None

ConstructorInitializerAllOnOneLineOrOnePerLine: false

ColumnLimit: 0

Cpp11BracedListStyle: false

#IndentPPDirectives: AfterHash
IndentCaseLabels: true

ReflowComments: true

SortIncludes: true

SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpacesInAngles: false
SpaceInEmptyParentheses: false

MaxEmptyLinesToKeep: 1

NamespaceIndentation: Inner
#FixNamespaceComments: true

PointerAlignment: Left

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
...
